@font-face {
    font-family: franklin_gothic_stdLight;
    src: url(../fonts/franklingothicbook.eot);
    src: url(../fonts/franklingothicbook.eot?#iefix) format('embedded-opentype'),
      url(../fonts/franklingothicbook.ttf) format('truetype'),
      url(../fonts/franklingothicbook.woff) format('woff'),
      url(../fonts/franklingothicbook.svg#franklin_gothic_stdLight) format('svg');
    font-weight: 400;
    font-style: normal;
  }
  @font-face {
    font-family: franklin_gothic_stdMd;
    src: url(../fonts/franklingothicmed.eot);
    src: url(../fonts/franklingothicmed.eot?#iefix) format('embedded-opentype'),
      url(../fonts/franklingothicmed.ttf) format('truetype'),
      url(../fonts/franklingothicmed.woff) format('woff'),
      url(../fonts/franklingothicmed.svg#franklin_gothic_stdMd) format('svg');
    font-weight: 400;
    font-style: normal;
  }
  @font-face {
    font-family: franklin_gothic_stdBold;
    src: url(../fonts/franklingothicdemi.eot);
    src: url(../fonts/franklingothicdemi.eot?#iefix) format('embedded-opentype'),
      url(../fonts/franklingothicdemi.ttf) format('truetype'),
      url(../fonts/franklingothicdemi.woff) format('woff'),
      url(../fonts/franklingothicdemi.svg#franklin_gothic_stdBold) format('svg');
    font-weight: 400;
    font-style: normal;
  }
  