// Fonts
$font-normal: franklin_gothic_stdLight, sans-serif;
$font-medium: franklin_gothic_stdMd, sans-serif;
$font-bold: franklin_gothic_stdBold, sans-serif;


// Grid system
$base-gutter-width: 8px;